USE [master]
GO
/****** Object:  Database [CarRentalDB]    Script Date: 24.01.2021 18:29:42 ******/
CREATE DATABASE [CarRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarRentalDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarRentalDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[tbl_Cars]    Script Date: 24.01.2021 18:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [nvarchar](50) NOT NULL,
	[CarModel] [int] NOT NULL,
	[RentFeeDaily] [money] NOT NULL,
	[CarTotalKM] [int] NOT NULL,
	[CarTotalSeats] [int] NOT NULL,
	[isRent] [bit] NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Companies]    Script Date: 24.01.2021 18:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[TotalCars] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Customers]    Script Date: 24.01.2021 18:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[CustomerSurname] [nvarchar](50) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Employees]    Script Date: 24.01.2021 18:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employees](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeSurname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_RentInfos]    Script Date: 24.01.2021 18:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RentInfos](
	[RentID] [int] NOT NULL,
	[RentDateStart] [datetime] NOT NULL,
	[RentDateEnd] [datetime] NOT NULL,
	[FirstKM] [int] NOT NULL,
	[LastKM] [int] NOT NULL,
	[TotalRentalFee] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_RentInfos] PRIMARY KEY CLUSTERED 
(
	[RentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_Cars]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Cars_tbl_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[tbl_Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[tbl_Cars] CHECK CONSTRAINT [FK_tbl_Cars_tbl_Companies]
GO
ALTER TABLE [dbo].[tbl_Employees]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Employees_tbl_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[tbl_Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[tbl_Employees] CHECK CONSTRAINT [FK_tbl_Employees_tbl_Companies]
GO
ALTER TABLE [dbo].[tbl_RentInfos]  WITH CHECK ADD  CONSTRAINT [FK_tbl_RentInfos_tbl_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[tbl_RentInfos] CHECK CONSTRAINT [FK_tbl_RentInfos_tbl_Cars]
GO
ALTER TABLE [dbo].[tbl_RentInfos]  WITH CHECK ADD  CONSTRAINT [FK_tbl_RentInfos_tbl_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[tbl_RentInfos] CHECK CONSTRAINT [FK_tbl_RentInfos_tbl_Customers]
GO
USE [master]
GO
